

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
  width: 80%;
  height: 40px;
  margin-bottom: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

 #hour1, #hour2, #hour3, #hour4, #hour5, #hour6, #hour7, #hour8, #hour9  {
  background-color: #ffffff;
  color: #348d11;
  border-top: 1px dashed #000000;
  list-style-type: none;
  font-weight: bold;
  display: flex;
  flex-direction: row;
}

.past {
  background-color: #d3d3d3;
  color:  rgb(50, 50, 50);
}

.present {
  background-color: #ff6961;
  color: rgb(50, 50, 50);
} 


.future {
  background-color: #77dd77;
  color: rgb(50, 50, 50);
}

.code-rows #save-task1, #save-task2, #save-task3, #save-task4, #save-task5, #save-task6,#save-task7,#save-task8,#save-task9 {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06AED5;
  color: white;
  margin-bottom: 7px;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
